*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
gradle
app/src/main/java/net/api/
app/src/main/res/drawable-mdpi/
app/src/main/res/drawable-xhdpi/
library_slidingmenu/assets/
library_slidingmenu/bin/res/
library_slidingmenu/build/generated/assets/
library_slidingmenu/build/generated/res/
library_slidingmenu/build/generated/source/aidl/
library_slidingmenu/build/generated/source/apt/
library_slidingmenu/build/generated/source/rs/
library_slidingmenu/build/intermediates/bundles/debug/aidl/
library_slidingmenu/build/intermediates/bundles/debug/assets/
library_slidingmenu/build/intermediates/bundles/release/aidl/
library_slidingmenu/build/intermediates/bundles/release/assets/
library_slidingmenu/build/intermediates/bundles/release/jni/
library_slidingmenu/build/intermediates/bundles/release/libs/
library_slidingmenu/build/intermediates/dependency-cache/
library_slidingmenu/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
library_slidingmenu/build/intermediates/incremental/packageDebugAndroidTest/
library_slidingmenu/build/intermediates/incremental/packageDebugResources/aapt-temp/
library_slidingmenu/build/intermediates/incremental/packageReleaseResources/aapt-temp/
library_slidingmenu/build/intermediates/incremental/processDebugAndroidTestResources/
library_slidingmenu/build/intermediates/incremental/processDebugResources/
library_slidingmenu/build/intermediates/incremental/processReleaseResources/
library_slidingmenu/build/intermediates/jniLibs/
library_slidingmenu/build/intermediates/lint/
library_slidingmenu/build/intermediates/manifest/tmp/
library_slidingmenu/build/intermediates/rs/
library_slidingmenu/build/intermediates/shaders/
library_slidingmenu/build/intermediates/transforms/
library_slidingmenu/build/tmp/
library_slidingmenu/res/drawable-hdpi/
library_slidingmenu/res/drawable-ldpi/
library_slidingmenu/res/drawable-mdpi/
library_slidingmenu/res/drawable-xhdpi/
src/main/java/net/api/
src/main/res/drawable-mdpi/
src/main/res/drawable-xhdpi/
